.bar-wrapper {
    display: flex;
    padding: 1rem;
    height: 10vh;
}

.section {
    padding: 1rem;
    margin: 0 1rem;
}

.radio-lbl {
    padding: 0.5rem;
}

.radio-inp {
    margin: 0 0.2rem;
}